# Ignore everything at the repository root
/*

# Keep this file
!/.gitignore

# Keep required directories
!/data/
!/docs/
!/.github/

# Exclude testrun
/data/yale_testrun
/scratch

# Keep required root files
!/LICENSE
!/README.md
